# DATA WRANGLING

In [ ]:
import numpy as  np 
import pandas as pd

In [ ]:
df=pd.DataFrame([["Shahid",80],["Anas",75]],columns=["Name","Marks"])
df

In [ ]:
df2=pd.DataFrame([["Akshay",70],["Sonal",92]],columns=["Name","Marks"])
df2

In [ ]:
outer_merge=pd.merge(df,df2,on="Name",how="outer")
outer_merge

In [ ]:
inner_df=pd.merge(df,df2,on="Name",how="inner")
inner_df
# because none of the dataframes have no common values it returns no rows

In [ ]:
concat=pd.concat([df,df2],ignore_index=True)

concat

In [ ]:
newdf=pd.DataFrame([["UPESUNIVERSITY","DEHRADUN","OKAY"],["DIT UNIVERSITY","DEHRADUN","OKAY"],["AMITY UNIVERSITY","DELHI","BAD"],["JNU","DELHI","GOOD"]] ,columns=["University","City","Remark"])
newdf

In [ ]:
newdf2=pd.DataFrame([["Graphic Era","DEHRADUN","OKAY"],["AMU","ALIGARH","OKAY"],["WOXEN UNIVERSITY","HYDERABAD","BAD"],["APJ ABDUL KALAM","LUCKNOW","GOOD"]] ,columns=["University","City","Remark"])
newdf2

In [ ]:
universities=pd.merge(newdf,newdf2,on='City',how='left')
universities

In [ ]:
universities.rename(columns={'University_x':"Primary University",'University_y':"Partner University",'Remark_x': 'Primary_Status'},inplace='True')

In [ ]:
universities

In [ ]:
city_counts=universities.groupby('City')['Primary University'].count()
city_counts
#checking number of universities in each column

In [ ]:
data = {
    'Order_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Customer_Name': ['Shahid', ' Anas ', 'Akshay', 'Sonal', 'shahid', 'Anas', 'Zara', 'Amir'],
    'City': ['Dehradun', 'Delhi', 'DEHRADUN', 'Noida', 'Dehradun', 'delhi', 'Mumbai', np.nan],
    'Product': ['Laptop', 'Mouse', 'Monitor', 'Laptop', 'Mouse', 'Keyboard', 'Laptop', 'Monitor'],
    'Price': [85000, 1200, 15000, 85000, 1200, 5000, 90000, 15000],
    'Quantity': [1, 2, 1, 1, 3, 2, 1, np.nan],
    'Order_Date': ['2024-01-01', '02-01-2024', '2024/01/03', '2024-01-04', '2024-01-05', '06-01-2024', '2024-01-07', '2024-01-08']
}

df_sales = pd.DataFrame(data)
print("--- Messy Sales Database Created ---")
print(df_sales.head(8))

In [ ]:
# str.strip() removes white spaces from beginning and end of a string
df_sales['Customer_Name']=df_sales['Customer_Name'].str.strip().str.capitalize()
df_sales

In [ ]:
df_sales=df_sales.dropna()
df_sales

In [ ]:
df_sales['City']=df_sales['City'].str.upper()
df_sales

In [22]:
pd.to_datetime(df_sales['Order_Date'],format='mixed',dayfirst='True')

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
Name: Order_Date, dtype: datetime64[ns]